In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.6f}'.format
import seaborn as sns
import scipy.stats as stats

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/New_York_offenses/NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013%20-%2013tbl8ny.csv',
                skiprows=4)
df = df.truncate(after=347)
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.000000,nan,0,0,0,12,2,10,0,0.000000
1,Addison Town and Village,"2,577",3,0.000000,nan,0,0,3,24,3,20,1,0.000000
2,Akron Village,"2,846",3,0.000000,nan,0,0,3,16,1,15,0,0.000000
3,Albany,"97,956",791,8.000000,nan,30,227,526,"4,090",705,"3,243",142,nan
4,Albion Village,"6,388",23,0.000000,nan,3,4,16,223,53,165,5,nan

In [3]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

Propertycrime = Î± + Population + Population^2 + Murder + Robbery

In [4]:
features = pd.DataFrame(df[['City', 'Population']])

In [5]:
features.head()

                       City Population
0             Adams Village      1,861
1  Addison Town and Village      2,577
2             Akron Village      2,846
3                    Albany     97,956
4            Albion Village      6,388

In [6]:
features['Population'] = features['Population'].apply(lambda x: int(x.replace(',','')))

In [7]:
features['PopulationSquared'] = features['Population'].apply(lambda x: x**2)

In [8]:
features['Murder'] = df['Murder and\nnonnegligent\nmanslaughter']

In [9]:
features['Robbery'] = df['Robbery']

In [10]:
features['PropertyCrime'] = df['Property\ncrime']

In [11]:
features['Robbery'] = features['Robbery'].apply(lambda x: float(str(x).replace(',','')))
features['Murder'] = features['Murder'].apply(lambda x: float(str(x).replace(',','')))
features['PropertyCrime'] = features['PropertyCrime'].apply(lambda x: float(str(x).replace(',','')))

features['Murder'] = (features['Murder'] > 0)
features['Robbery'] = (features['Robbery'] > 0)

In [12]:
features.replace({True:1, False:0}, inplace=True)

In [13]:
features.head()

,City,Population,PopulationSquared,Murder,Robbery,PropertyCrime
0,Adams Village,1861,3463321,0,0,12.000000
1,Addison Town and Village,2577,6640929,0,0,24.000000
2,Akron Village,2846,8099716,0,0,16.000000
3,Albany,97956,9595377936,1,1,4090.000000
4,Albion Village,6388,40806544,0,1,223.000000